.btn-contacto{
    --background: #E3BF2E;
    --background-activated: #E3BF2E;
    --color: #000000;
    --border-radius: 25px;
    --padding-end: 3.125rem;
    --padding-start: 3.125rem; 
    margin-top: 1rem;
}