<ion-content [scrollY]="false">

  <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="header-cabecera-general">
      <ion-button class="btn-navbar-circle btn-regreso" href="/calendario-fiestas">
        <img src="assets/img/left-navbar.png">
      </ion-button>
      <ion-title class="title-height-auto">
        Cusco Calendar
      </ion-title>
      <ion-menu-toggle>
        <ion-button class="btn-navbar-circle">
          <img src="assets/img/more.png">
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="ion-content-scroll-host ion-padding-general ion-padding-general-content padding-left-right-general">
    <ion-grid class="ion-no-padding">
      <ion-row class="row-center">
        <ion-col size="6">
          <ion-button class="btn-regerso-footer font-regular btn-margin-top-cero" href="/blog" mode="ios">< Atrás</ion-button>
        </ion-col>
        <ion-col size="6" class="col-flex-compartir">
          <p class="p-like-heart font-regular">
            <ion-icon name="heart-outline"></ion-icon> 842
          </p>
          <ion-icon name="share-social-outline" class="icon-compartir" id="open-action-sheet"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-margin-top">
        <ion-col size="12" class="ion-no-padding">
          <ion-img src="assets/img/img-detalle-blog.png" alt="blog-detalle" class="img-detalle-blog"></ion-img>
          <h3 class="font-extrabold color-2f-size-19 margin-bottom-cero">This is a title of an important blog article</h3>
        </ion-col>
      </ion-row>
      <ion-row class="row-end-center ion-padding-start ion-padding-end ion-margin-top">
        <ion-col size="6">
          <ion-item lines="none" class="item-detalle-fecha">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label class="font-regular ion-no-margin">July 12, 2017</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-card class="ion-no-margin card-hora-detalle card-fondo-category-detalle font-regular" mode="ios">
            Category
          </ion-card>
        </ion-col>
      </ion-row>
      <p class="font-regular p-size-14-textos">
        Welcome to Cusco, the ancient capital of the Inca Empire and a city steeped in rich history and culture. Nestled high in the Andes mountains of Peru, Cusco is a popular destination for travelers seeking adventure, culture, and breathtaking landscapes.<br><br> From exploring the iconic Incan ruins of Machu Picchu, to wandering the charming cobblestone streets of the historic center, there is no shortage of things to see and do in Cusco. Marvel at the intricate stonework of the Sacsayhuaman fortress, sample traditional Peruvian cuisine, and immerse yourself in the vibrant local arts and music scene. Whether you're a history buff, an outdoor enthusiast, or a culture seeker, Cusco has something for everyone. So come experience the magic of this enchanting city for yourself!
      </p>
      <ion-row>
        <ion-col size="12" class="col-gallery-mosaico">
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
          <ion-card class="ion-no-margin card-galerry-mosaico" mode="ios">
            <ion-img src="assets/img/img-slider.png" alt="cusco"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="row-border-top">
        <ion-col size="6">
          <ion-button class="btn-regerso-footer font-regular" href="/calendario-fiestas" mode="ios">< Back</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button class="btn-regerso-footer font-regular" mode="ios">Next ></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-action-sheet mode="ios" trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>


</ion-content>
