<ion-content [fullscreen]="true">
  <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="header-cabecera-general">
      <ion-button class="btn-navbar-circle btn-regreso" href="/">
        <img src="assets/img/left-navbar.png">
      </ion-button>
      <ion-title class="title-height-auto">
        Cultural Calendar
      </ion-title>
      <ion-menu-toggle>
        <ion-button class="btn-navbar-circle">
          <img src="assets/img/more.png">
        </ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <div class="ion-content-scroll-host ion-padding-general ion-padding-general-content">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="12" class="padding-left-right-general">
          <ion-img src="assets/img/img-blog.png" alt="mapa" class="img-sin-fondo img-blog"></ion-img>
          <h3 class="font-extrabold color-2f-size-19 margin-top-titulo-28 ion-text-center">Cusco blog & news</h3>
          <ion-searchbar mode="ios" class="search-modal" placeholder="Look for an operator" show-clear-button="never"></ion-searchbar>
        </ion-col>
        <ion-col size="12" class="ion-no-padding ion-margin-top">
          <h3 class="font-extrabold color-2f-size-19 padding-left-right-general">Trending</h3>
          <swiper-container class="mySwiper padding-left-right-general" pagination="false" pagination-clickable="true" space-between="18" autoplay="false"
            slides-per-view="1.2">
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios" href="/blog-detalle">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="padding-left-right-general" >
          <h3 class="font-extrabold color-2f-size-19">Categories</h3>
        </ion-col>
        <ion-col size="12">
          <swiper-container class="mySwiper myswiper-transparent padding-left-right-general" pagination="false" space-between="10" autoplay="false"
          slides-per-view="3.5">
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label class="label-active">
                  Detalles
                  <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
            <swiper-slide>
              <ion-item class="ion-text-start item-tabs" lines="none">
                <ion-label>
                 Leyenda
                 <div class="linea-active"></div>
                </ion-label>
              </ion-item>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col size="12" class="padding-left-right-general col-maring-top-category">
          <ion-card class="ion-no-margin card-blog-category" mode="ios">
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none" mode="ios">
                <ion-img slot="start" src="assets/img/img-slider.png" alt="blog"></ion-img>
                <ion-label>
                  <h3 class="font-bold">This is a title of an important blog article</h3>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-blog-category" mode="ios">
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none" mode="ios">
                <ion-img slot="start" src="assets/img/img-slider.png" alt="blog"></ion-img>
                <ion-label>
                  <h3 class="font-bold">This is a title of an important blog article</h3>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-blog-category" mode="ios">
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none" mode="ios">
                <ion-img slot="start" src="assets/img/img-slider.png" alt="blog"></ion-img>
                <ion-label>
                  <h3 class="font-bold">This is a title of an important blog article</h3>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card class="ion-no-margin card-blog-category" mode="ios">
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none" mode="ios">
                <ion-img slot="start" src="assets/img/img-slider.png" alt="blog"></ion-img>
                <ion-label>
                  <h3 class="font-bold">This is a title of an important blog article</h3>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
