<ion-content [scrollY]="false">

  <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="header-cabecera">
      <div></div>
      <ion-title>
        
      </ion-title>
      <ion-button class="btn-navbar-circle">
        <img src="assets/img/more.png">
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <div class="ion-content-scroll-host ion-padding-incio">
    <img src="assets/img/logo-muni.png" class="img-sin-fondo img-margin-bottom">
    <ion-card mode="ios" class="card-margin-cero" href="/about-cusco">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1019.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> About Cusco </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/calendario-fiestas">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1014.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Festivities calendar </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/cultura">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1159.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Culture </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/blog">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1016.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Cusco blog & news </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/turismo">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1159.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Tourism </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/solidarity">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1020.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Solidarity </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1023.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Quechua basic diccionary </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/health">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1021.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Health in Cusco </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/transporte">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1018.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night" class="img-map-widht"
          ></ion-img>
          <ion-label class="font-semibold"> Transportation </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/seguridad">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/Grupo-1021.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Personal security in Cusco </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios" class="card-margin-cero" href="/municipalidad">
      <ion-card-content mode="ios">
        <ion-item mode="ios">
          <ion-img slot="start"
            src="assets/img/icon-torre.png"
            alt="The Wisconsin State Capitol building in Madison, WI at night"
          ></ion-img>
          <ion-label class="font-semibold"> Get to know municipality </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <img src="assets/img/img-footer-home.png" class="img-footer-absolute img-sin-fondo">
  </div>
</ion-content>
