<ion-content [scrollY]="false">

  <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="header-cabecera-general">
      <ion-button class="btn-navbar-circle btn-regreso" href="/">
        <img src="assets/img/left-navbar.png">
      </ion-button>
      <ion-title class="title-height-auto">
        Cultura
      </ion-title>
      <ion-button class="btn-navbar-circle">
        <img src="assets/img/more.png">
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <div class="ion-content-scroll-host ion-padding-general ion-padding-general-content">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="12" class="padding-left-right-general">
          <ion-img src="assets/img/img-incas.png" alt="mapa" class="img-sin-fondo img-mapa"></ion-img>
          <h3 class="font-extrabold color-2f-size-19 margin-top-titulo-28">Culture high above</h3>
          <p class="font-regular p-size-14-textos ion-margin-top">
            Welcome to Cusco, the ancient capital of the Inca Empire and a city steeped in rich history and culture. Nestled high in the Andes mountains of Peru, Cusco is a popular destination for travelers seeking adventure, culture, and breathtaking landscapes.<br><br> From exploring the iconic Incan ruins of Machu Picchu, to wandering the charming cobblestone streets of the historic center, there is no shortage of things to see and do in Cusco. Marvel at the intricate stonework of the Sacsayhuaman fortress, sample traditional Peruvian cuisine, and immerse yourself in the vibrant local arts and music scene. Whether you're a history buff, an outdoor enthusiast, or a culture seeker, Cusco has something for everyone. So come experience the magic of this enchanting city for yourself!
          </p>
        </ion-col>
        <ion-col size="12" class="padding-left-right-general" >
          <h3 class="font-extrabold color-2f-size-19">Our culture expressions</h3>
          <div class="div-item-grid-listin ion-margin-bottom">
            <ion-card class="ion-no-margin card-relative" href="/cultura-detalle">
              <ion-img src="assets/img/img-slider.png" alt="ciudad" class=""></ion-img>
              <ion-label class="label-absolute-negro ion-text-center font-bold">Gastronomy</ion-label>
            </ion-card>
            <ion-card class="ion-no-margin card-relative">
              <ion-img src="assets/img/img-slider.png" alt="ciudad" class=""></ion-img>
              <ion-label class="label-absolute-negro ion-text-center font-bold">Music & dances</ion-label>
            </ion-card>
            <ion-card class="ion-no-margin card-relative">
              <ion-img src="assets/img/img-slider.png" alt="ciudad" class=""></ion-img>
              <ion-label class="label-absolute-negro ion-text-center font-bold">Sports</ion-label>
            </ion-card>
            <ion-card class="ion-no-margin card-relative">
              <ion-img src="assets/img/img-slider.png" alt="ciudad" class=""></ion-img>
              <ion-label class="label-absolute-negro ion-text-center font-bold">Ceremonias y costumbres</ion-label>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-no-padding" >
          <h3 class="font-extrabold color-2f-size-19 padding-left-right-general">Culture blog article</h3>
          <swiper-container class="mySwiper padding-left-right-general" pagination="false" pagination-clickable="true" space-between="18" autoplay="false"
            slides-per-view="1.2">
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
            <swiper-slide class="slider-radius-blog">
              <ion-card class="card-slider-horizontal ion-no-margin" mode="ios">
                <ion-img src="assets/img/img-slider.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                <ion-card-content class="ion-text-start ion-no-padding">
                  <h2 class="font-bold">This is a title of an important blog article</h2>
                  <p class="font-regular">19/07/2022 <ion-icon name="ellipse" class="ion-margin-start ion-margin-end"></ion-icon> Category</p>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
